.SearchForm{
  background-color: aliceblue;
}

.TaskSection{
  background-color: aliceblue;
}

.FilterButton{
  width: 150px;
}

.CommandButton{
  width: 75px;
}

.AddForm{
  background-color: aliceblue;
}